<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/style.css') }}">
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    
    <div> 
        {{ visits }}
        
        <button id="button1"><a href="/">Counter</a></button>

        <button id="button2"><a href="/destroy_session">Reset</a></button>
    </div>
</body>
</html>